//Input de formularios
.input-form{
    padding: 0 .8rem;
    border: 1px solid #CCC;
    border-radius: .3rem;
    transition: var(--animacao-outline-input);

    //Input de focus
    &:focus{
        outline: 2px solid var(--cor-fundo);
    }
}

//input de form submit
.input-submit{
    color: var(--cor-branco);
    background: var(--cor-fundo);
    border-radius: .5rem;
    transition: var(--animacao-botao);

    &:hover{
        opacity: .8;
    }
}

//Input de pesquisar(header)
.input-pesquisar{
    padding: .3rem .5rem .3rem .8rem;
}