@use '../../styles/input.scss';

.section-login{
    .main-content{

        .google-button{
            background: #EA4335;
            animation: var(--animacao-botao);

            &:hover{
                opacity: .8;
            }
        }

        form{
            p{
                span{
                    color: var(--cor-suporte);
                    font-weight: 600;
                    text-decoration: underline;
                    animation: var(--animacao-botao);

                    &:hover{
                        opacity: .8;
                    }
                }
            }
        }
    }
}