*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

:root{
    --cor-fundo: #518C81;
    --cor-suporte: #BF895A;
    --cor-branco: #F2F2F2;
    --espacamento-padrao: 2rem;
}